body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Sidenav column */

nav {
    display: block;
    position: fixed;
    width: 250px;
    height: 100%;
    box-shadow: 1px 1px 3px 2px grey;
    background-color: #b3e5fc;

}

nav div.sidenav {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    background-color: #b3e5fc;
}

nav div.sidenav div.container {
    width: 100%;
    height: 100%;
}

nav div.sidenav div.container div.side-menu {
    width: 100px;
    height: auto;
}

nav div.sidenav div.container div.side-menu ul {
    width: max-content;
    height: max-content;
    margin: 162px auto auto 50px;
    padding: 0 ;
    line-height: 2em;
    text-decoration: none;
    list-style: none;
    
}

nav div.sidenav div.container div.side-menu ul a {
    text-decoration: none;
    text-align: left;  
    color: inherit;
    display: block;
    /* border: 1px solid black; */
    margin: 5px auto;
    box-sizing: border-box;
    padding: 2px 68px ;
    box-shadow: 1px 1px 2px 1px grey;

}

nav div.sidenav div.container div.side-menu ul a li {
    text-decoration: none;  
    color: inherit;

}

nav div.sidenav div.container div.side-menu ul a li {
    text-decoration: none;  
    color: inherit;
    list-style: none;

}

/* Main column */ 



main {
    padding-left: 250px;

}

main div.main-site {
    /* position: relative; */
    margin: 0 50px;
    width: auto;
    height: auto;
    /* padding-left: 250px; */
}

main .main-site .container ul {
    margin-top: 110px;
    list-style: none;
    padding: 0;
    /* text-align: left */
    line-height: 2em;
}

main .main-site .container ul li {
    /* display: inline-block; */
    width: 300px;
}

main .main-site .container ul li span {
    float: right;
    margin: 2px auto;
    line-height: 1.5em;
    width: 200px;
}

main .main-site .container ul li span input {
    width: 100%;
}